<h1>
  *********************************
  Welcome! Home page</h1>

  <%= link_to 'About', about_path %>
<%= link_to "Articles", articles_path %>
  <!--%= link_to image_tag('me.jpg'), about_path %>